.Link{
    color:blue;
   
    
    
}

.ul{
    display: flex;
    gap: 75px;
    color:white;
    font-size: 35px;
    padding-top: 45px;
    padding-left: 415px;
    background-color: darkblue;
    text-align: center;
    padding-bottom: 55px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-display: Georgia ;
    text-decoration: underline;
    

}

