.h1{
    color:cyan;
    text-align: center;
    padding-top: 235px;
    font-size: 45px;
    text-decoration: double underline;

}

.Link{
    color: blue;
    text-decoration-line: underline;
    font-size: 30px;
    padding-left: 525px;
}

.Links{
    color: blue;
    text-decoration-line: underline;
    font-size: 30px;
    padding-left: 520px;
}